<div class="editor-container">
    <div class="editor-header">
        <h2>Theme Editor</h2>
    </div>

    <mat-tab-group [(selectedIndex)]="selectedTabIndex" animationDuration="0ms" class="editor-tabs">
        <mat-tab *ngFor="let group of groups" [label]="group">
            <div class="variable-list">

                <!-- Typography Special Layout -->
                <ng-container *ngIf="group === 'Typography'">
                    <mat-accordion class="category-accordion" multi>
                        <mat-expansion-panel *ngFor="let typeGroup of typographyGroups" [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="category-title">
                                    {{ typeGroup.name }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="typography-variants">
                                <mat-accordion class="typography-accordion">
                                    <mat-expansion-panel *ngFor="let variable of typeGroup.variables">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{ variable.label }}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <p class="variable-description-panel">{{ variable.description }}</p>

                                        <div class="typography-inputs" *ngIf="variable.typography">
                                            <div class="typography-field">
                                                <label>Weight</label>
                                                <input type="text" [value]="variable.typography.weight"
                                                    (input)="updateTypography(variable, 'weight', $event)">
                                            </div>
                                            <div class="typography-field">
                                                <label>Size</label>
                                                <input type="text" [value]="variable.typography.size"
                                                    (input)="updateTypography(variable, 'size', $event)">
                                            </div>
                                            <div class="typography-field">
                                                <label>Line Height</label>
                                                <input type="text" [value]="variable.typography.lineHeight"
                                                    (input)="updateTypography(variable, 'lineHeight', $event)">
                                            </div>
                                            <div class="typography-field full-width">
                                                <label>Family</label>
                                                <input type="text" [value]="variable.typography.family"
                                                    (input)="updateTypography(variable, 'family', $event)">
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>

                <!-- Other Groups -->
                <ng-container *ngIf="group !== 'Typography'">
                    <ng-container *ngFor="let variable of getVariablesByGroup(group)">

                        <!-- Shadow Special Case -->
                        <mat-accordion *ngIf="variable.type === 'shadow'" class="shadow-accordion">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ variable.label }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <p class="variable-description-panel">{{ variable.description }}</p>

                                <div class="shadow-inputs" *ngIf="variable.shadow">
                                    <div class="shadow-field">
                                        <label>Offset X</label>
                                        <input type="text" [value]="variable.shadow.offsetX"
                                            (input)="updateShadow(variable, 'offsetX', $event)">
                                    </div>
                                    <div class="shadow-field">
                                        <label>Offset Y</label>
                                        <input type="text" [value]="variable.shadow.offsetY"
                                            (input)="updateShadow(variable, 'offsetY', $event)">
                                    </div>
                                    <div class="shadow-field">
                                        <label>Blur</label>
                                        <input type="text" [value]="variable.shadow.blur"
                                            (input)="updateShadow(variable, 'blur', $event)">
                                    </div>
                                    <div class="shadow-field">
                                        <label>Spread</label>
                                        <input type="text" [value]="variable.shadow.spread"
                                            (input)="updateShadow(variable, 'spread', $event)">
                                    </div>
                                    <div class="shadow-field full-width">
                                        <label>Color</label>
                                        <div class="color-input-group">
                                            <div class="color-preview" [style.background-color]="variable.shadow.color">
                                                <input type="color" [value]="variable.shadow.color"
                                                    (input)="updateShadow(variable, 'color', $event)">
                                            </div>
                                            <input type="text" class="hex-input" [value]="variable.shadow.color"
                                                (input)="updateShadow(variable, 'color', $event)">
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <!-- Standard Inputs -->
                        <div *ngIf="variable.type !== 'typography' && variable.type !== 'shadow'" class="variable-item">
                            <div class="variable-header">
                                <div class="variable-label">{{ variable.label }}</div>
                                <div class="variable-description" *ngIf="variable.description">{{
                                    variable.description }}
                                </div>
                            </div>

                            <div class="input-wrapper" [ngSwitch]="variable.type">
                                <!-- Color Picker -->
                                <div *ngSwitchCase="'color'" class="color-input-group">
                                    <div class="color-preview" [style.background-color]="variable.value">
                                        <input type="color" [value]="variable.value"
                                            (input)="updateValue(variable, $event)">
                                    </div>
                                    <input type="text" [value]="variable.value" (input)="updateValue(variable, $event)"
                                        class="hex-input">
                                </div>

                                <!-- Text Input -->
                                <div *ngSwitchDefault>
                                    <input type="text" [value]="variable.value" (input)="updateValue(variable, $event)"
                                        class="text-input">
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </ng-container>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>